<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <header>
        <nav
          class="navbar bg-body-tertiary d-flex flex-column align-items-center"
        >
          <!-- Logo centrado -->
          <a class="navbar-brand mb-4" routerLink="/">
            <div class="d-flex flex-column align-items-center">
              <img
                src="./assets/img/icons/load.png"
                alt="Logo Pro360"
                width="60"
                height="60"
                loading="eager"
              />
              <h1 class="mt-2">pro360</h1>
            </div>
          </a>

          <!-- Menú en grupos de dos - Centrado -->
          <div class="d-flex justify-content-center w-100">
            <div class="row gx-5">
              <!-- Aumenté el espacio entre grupos (gx-5) -->

              <!-- Grupo 1 -->
              <div class="col-6 text-center">
                <!-- Cambiado a text-center -->
                <div class="py-2">
                  <a
                    class="navbar-brand d-flex flex-column align-items-center"
                    routerLink="/product"
                  >
                    <img
                      src="./assets/img/icons/product.png"
                      alt="Productos"
                      width="30"
                    />
                    <span class="mt-1">Productos</span>
                  </a>
                </div>
                <div class="py-2">
                  <a
                    class="navbar-brand d-flex flex-column align-items-center"
                    routerLink="/provider"
                  >
                    <img
                      src="./assets/img/icons/provider.png"
                      alt="Proveedores"
                      width="30"
                    />
                    <span class="mt-1">Proveedores</span>
                  </a>
                </div>
              </div>

              <!-- Grupo 2 -->
              <div class="col-6 text-center">
                <!-- Cambiado a text-center -->
                <div class="py-2">
                  <a
                    class="navbar-brand d-flex flex-column align-items-center"
                    routerLink="/sales"
                  >
                    <img
                      src="./assets/img/icons/sales.png"
                      alt="Ventas"
                      width="30"
                    />
                    <span class="mt-1">Ventas</span>
                  </a>
                </div>
                <div class="py-2">
                  <a
                    class="navbar-brand d-flex flex-column align-items-center"
                    routerLink="/report"
                  >
                    <img
                      src="./assets/img/icons/report.png"
                      alt="Informes"
                      width="30"
                    />
                    <span class="mt-1">Informes</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>
  </div>
</div>
