@if (productService.isCreate) {

<!-- CREATE -->
<button (click)="cancelCreateEdit()">VOLVER</button>
<div>
  @for (provider of providerService.providersList; track $index) {
  @if(id_provider_product==provider.id_provider){

  <h2>Proveedor: {{ provider.name_provider }}</h2>
  <h2>Cuenta: {{ provider_count }} €</h2>
  } }
</div>

@for (product of productService.productsList; track $index) {
<ul>
  <div style="border: 1px solid black">
    <li>{{ product.name_category }}</li>
    <li>{{ product.name_product }}</li>
    <li>{{ product.description_product }}</li>
    <img
      [src]="'assets/img/products/' + product.photo_product + '.jpg'"
      alt="{{ product.photo_product }}"
      style="width: 100px"
    />
@if (productForms[product.id_product]) {

  <form [formGroup]="productForms[product.id_product]">
    <fieldset>
      <label for="pros-unit-{{ product.id_product }}">*Unit </label>
      <input
        type="number"
        id="pros-unit-{{ product.id_product }}"
        formControlName="unit_pros"
        min="1"
      />
    </fieldset>

    <fieldset>
      <label for="pros-price-{{ product.id_product }}">*Price € </label>
      <input
      type="number"
      id="pros-price-{{ product.id_product }}"
      formControlName="price_pros"
      min="0.00"
      />
      <!-- step="0.01" empieza en el decimal-->
    </fieldset>

    <!-- canBuy => {{ !canBuy(product.id_product) }}
    <br />
    getTotal => {{ getTotal(product.id_product) }}
    <br />
    count => {{ provider_count }} -->

    @if(getTotal(product.id_product) > provider_count){
    <p style="color: red">No tienes dinero.</p>
    }
    <h2>Total a pagar: {{ getTotal(product.id_product) }} €</h2>
    <button
      (click)="handleCreatePros(product.id_product)"
      [disabled]="
        productForms[product.id_product].invalid ||
        getTotal(product.id_product) > provider_count
      "
    >
      Comprar
    </button>
  </form>
}
  </div>
</ul>
} }@else if (productService.isEdit) {

<!-- UPDATE -->
 <button (click)="cancelCreateEdit()">VOLVER</button>
<div>
  @for (provider of providerService.providersList; track $index) {
  @if(id_provider_product==provider.id_provider){

  <h2>Proveedor: {{ provider.name_provider }}</h2>
  <h2>Cuenta: {{ provider_count }} €</h2>
  } }
</div>

@for (product of productService.productsList; track $index) {
<ul>
  <div style="border: 1px solid black">
    <li>{{ product.name_category }}</li>
    <li>{{ product.name_product }}</li>
    <li>{{ product.description_product }}</li>
    <img
      [src]="'assets/img/products/' + product.photo_product + '.jpg'"
      alt="{{ product.photo_product }}"
      style="width: 100px"
    />
@if (productForms[product.id_product]) {

  <form [formGroup]="productForms[product.id_product]">
    <fieldset>
      <label for="pros-unit-{{ product.id_product }}">*Unit </label>
      <input
        type="number"
        id="pros-unit-{{ product.id_product }}"
        formControlName="unit_pros"
        min="1"
      />
    </fieldset>

    <fieldset>
      <label for="pros-price-{{ product.id_product }}">*Price € </label>
      <input
      type="number"
      id="pros-price-{{ product.id_product }}"
      formControlName="price_pros"
      min="0.00"
      />
    </fieldset>

    <!-- FALTA PRECIO RECOMENDADO -->
    <h2>Total a vender: {{ getTotal(product.id_product) }} €</h2>
    <button
      (click)="handleCreatePros(product.id_product)"
      [disabled]="
        productForms[product.id_product].invalid ||
        getTotal(product.id_product) > provider_count
      "
    >
      Comprar
    </button>
  </form>
}
  </div>
</ul>
}


}@else {

<!-- READ -->
 <button [routerLink]="['/provider/']">VOLVER</button>
<button (click)="handleCreate(true)">COMPRAR</button>

<div>
  @for (provider of providerService.providersList; track $index) {
  @if(id_provider_product==provider.id_provider){

  <h2>Proveedor: {{ provider.name_provider }}</h2>
  <h2>Cuenta: {{ provider_count }} €</h2>
  } }
</div>

@for (pros of prosService.prosList; track $index) {
<ul>
  <div style="border: 1px solid black">
    <li>{{ pros.name_product }}</li>
    <li>{{ pros.description_product }}</li>
    <li>{{ pros.unit_pros }} Unidades</li>
    <li>{{ pros.price_pros }} €</li>
    <img
      [src]="'assets/img/products/' + pros.photo_product + '.jpg'"
      alt="{{ pros.photo_product }}"
      style="width: 100px"
    />
    <button class="trash-icon" (click)="handleUpdate(true)">
      VENDER
    </button>
  </div>
</ul>
}@empty {
<h2>No hay productos.</h2>
} }
